<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8">
        
        <div class="header-container">
          <h1 class="page-title">Todas las Categorías</h1>
          <p class="page-subtitle">Explora nuestras colecciones de productos.</p>
        </div>

        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="!isLoading" class="category-list-container">
          <div *ngFor="let category of categories" class="category-item">
            <div class="category-details">
              <h2 class="category-name">{{ category.nombre }}</h2>
              <p class="category-description">{{ category.descripcion }}</p>
            </div>
            <div class="category-action">
              <ion-button shape="round" (click)="viewCategoryProducts(category.id_categoria)">
                Revisa aquí
              </ion-button>
            </div>
            </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>