//ESTILOS UNICAMENTE FOOTER

ion-footer {
    // Eliminar posible borde superior que Ionic a veces añade
    &::before {
      background-image: none;
    }
  }
  
  ion-toolbar.footer-toolbar {
    --background: #a1818a; // Mismo color del header
    --color: #f0f0f0; // Color de texto claro por defecto para el footer
    padding-left: 100px;
  }
  
  .custom-footer-toolbar {
    --background: #a1818a; /* color de fondo */
    --color: white;        /* color del texto */
    padding-top: 40px;
  }
  
  .footer-col {
    // Añadir espacio inferior cuando las columnas se apilan en móvil
    @media (max-width: 767px) {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0; // No añadir margen a la última columna apilada
      }
    }
  }
  
  // Estilos específicos para el logo en el footer
  .footer-logo {
    font-size: 30px;
    .logo-look,
    .logo-4 {
      color: white;
    }
  
    .logo-4 {
      color: #FFB6C1;
    }
  
    .logo-beauty {
      color: BLACK;
    }
  }
  
  .footer-description {
    font-size: 0.85em;
    color: #e0e0e0;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 350px;
  }
  
  .social-icons {
    ion-button {
      --color: white; // Color de los iconos sociales
      --padding-start: 0;
      --padding-end: 10px; // Espacio entre iconos
      font-size: 1.4em; // Tamaño de los iconos sociales
    }
  }
  
  //DISEÑOS FOOTER SOLAMENTE
  .footer-title {
    font-size: 1.1em;
    font-weight: bold;
    color: white; // Títulos en blanco o un color claro destacado
    margin-bottom: 15px;
    text-transform: none; // Asegurar que no estén en mayúsculas si no se quiere
  }
  
  .footer-link {
    margin-bottom: 10px;
    padding: 0; // Resetear padding si lo hubiera
  
    a {
      color: #f0f0f0; // Color de los enlaces (gris muy claro)
      text-decoration: none;
      font-size: 0.9em;
  
      &:hover {
        color: white; // Cambiar a blanco al pasar el cursor
        text-decoration: underline; // Subrayar al pasar el cursor (opcional)
      }
    }
  }
  