 <!--footer al final de página-->
 <div class="footer-simple">
  <ion-toolbar class="custom-footer-toolbar">
    <ion-grid>
      <ion-row class="ion-align-items-start"> 

        <ion-col size="12" size-md="4" class="footer-col">
          <div class="logo footer-logo"> 
            <span class="logo-look">Look</span><span class="logo-4">4</span><span class="logo-beauty">Beauty</span>
          </div>
          <p class="footer-description">
            Somos una compañía chilena creada con el propósito de encontrar y recopilar, por ti, los mejores precios en productos cosméticos de las tiendas en Chile.
          </p>
          <div class="social-icons">
            <ion-button class="icon" fill="clear" href="#" target="_blank" aria-label="Twitter">
              <ion-icon slot="icon-only" name="logo-twitter" ></ion-icon>
            </ion-button>
            <ion-button fill="clear" href="#" target="_blank" aria-label="Facebook">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button fill="clear" href="#" target="_blank" aria-label="TikTok">
              <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
            </ion-button>
             <ion-button fill="clear" href="#" target="_blank" aria-label="Instagram">
               <ion-icon slot="icon-only" name="logo-instagram"></ion-icon> 
             </ion-button>
          </div>
        </ion-col>

        <ion-col size="12" size-md="4" class="footer-col">
          <h5 class="footer-title">Servicios</h5>
          
          <p class="footer-link" (click) = "goToTab5()" style="cursor: pointer;"> Iniciar Sesión</p>
          
          <p class="footer-link" (click) = "goToTab4()" style="cursor: pointer;"> Registrarme</p>

          <p class="footer-link"><a href="#">Nuestro equipo</a></p>
          <p class="footer-link"><a href="#">Verificar Cuenta</a></p>
          <p class="footer-link"><a href="#">Historial</a></p>
          
        </ion-col>

        <ion-col size="12" size-md="4" class="footer-col">
          <h5 class="footer-title">Soporte</h5>
          <p class="footer-link"><a href="#">Califica una tienda</a></p>
          <p class="footer-link"><a href="#">Reporta un bug</a></p>
          <p class="footer-link"><a href="#">Contacto con el soporte</a></p>
          <p class="footer-link"><a href="#">Preguntas frecuentes</a></p>
          <p class="footer-link"><a href="#">Términos de uso del sitio</a></p>
          
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
</div>