<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <div class="logo" (click)="goToTab1()" style="cursor: pointer;">
        <span class="logo-look">Look</span><span class="logo-4">4</span><span class="logo-beauty">Beauty</span>
      </div>
      <div class="search-container">
        <ion-searchbar
          placeholder="¿Qué buscas?"
          class="custom-searchbar"
          [(ngModel)]="searchQuery"
          (keyup.enter)="realizarBusqueda()"
          (ionInput)="onSearchChange($event)"
        ></ion-searchbar>
      </div>
      <div class="navigation-items">
        <ion-buttons>
          <ion-button fill="clear" class="nav-link" (click)="goToTab1()">Inicio</ion-button>
          <ion-button fill="clear" class="nav-link">Categorías</ion-button>
          <ion-button fill="clear" class="nav-link">Marcas</ion-button>
          <ion-button fill="clear" class="nav-link" (click)="goToContacto()">Contáctanos</ion-button>
        </ion-buttons>
        <ion-buttons>
          <ion-button fill="clear" class="icon-button">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>

          <ng-container *ngIf="isLoggedIn; else loggedOutButtons">
            <ion-button fill="clear" class="nav-link" (click)="goToTab2()">
              ¡Hola, {{ userName }}!
            </ion-button>
            <ion-button fill="clear" class="icon-button" (click)="logout()">
              <ion-icon slot="icon-only" name="log-out-outline"></ion-icon> </ion-button>
          </ng-container>
          <ng-template #loggedOutButtons>
            <ion-button fill="clear" class="icon-button" (click)="goToTab5()"> <ion-icon slot="icon-only" name="person-outline"></ion-icon>
            </ion-button>
          </ng-template>

        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>