<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="section-container ion-padding-start ion-padding-end">
    <h2 class="ofertas-de-hoy">Ofertas de hoy 🔥</h2>
    <div class="ofertas-slider-container slider-container">
      
      <swiper-container class="ofertas-swiper" slides-per-view="auto" space-between="10">
        <swiper-slide *ngFor="let product of products">
          <app-product-card
            [image]="product.image_url"
            [brand]="product.marca_nombre"
            [title]="product.nombre"
            [price]="product.precio_mas_bajo" [isLiked]="product.isLiked"
            [productId]="product.id_producto"
            (wishlistToggle)="toggleWishlist(product)">
          </app-product-card>
        </swiper-slide>
      </swiper-container>
      <ion-button fill="clear" class="slider-nav prev-button ofertas-prev">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="slider-nav next-button ofertas-next">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="section-container ion-padding-start ion-padding-end">
    <h2 class="section-title">Categorías populares</h2>
    <div class="categorias-container">
      <div class="category-card">
        <div class="category-text">
          <h3>Skincare</h3>
          <p>Todo lo que necesitas para tu rutina</p>
          <ion-button class="category-button" fill="solid" shape="round" [routerLink]="['/products/category', 1]">Revisa aquí</ion-button>
        </div>
        <div class="category-image">
          <img src="/assets/images/placeholder-categoria-1.png" alt="Skincare">
        </div>
      </div>
      <div class="category-card">
        <div class="category-text">
          <h3>Labios</h3>
          <p>Encuentra tu tono ideal</p>
          <ion-button class="category-button" fill="solid" shape="round" [routerLink]="['/products/category', 3]">Revisa aquí</ion-button>
        </div>
        <div class="category-image">
          <img src="/assets/images/placeholder-categoria-2.png" alt="Labios">
        </div>
      </div>
      <div class="category-card">
        <div class="category-text">
          <h3>Accesorios</h3>
          <p>Las herramientas clave para tu estación de maquillaje</p>
          <ion-button class="category-button" fill="solid" shape="round">Revisa aquí</ion-button>
        </div>
        <div class="category-image">
          <img src="/assets/images/placeholder-categoria-3.png" alt="Accesorios">
        </div>
      </div>
      <div class="category-card">
        <div class="category-text">
          <h3>Capilar</h3>
          <p>Descubre lo esencial para un pelo increíble</p>
          <ion-button class="category-button" fill="solid" shape="round">Revisa aquí</ion-button>
        </div>
        <div class="category-image">
          <img src="/assets/images/placeholder-categoria-4.png" alt="Capilar">
        </div>
      </div>
    </div>
  </div>

  <div class="section-container ion-padding-start ion-padding-end">
    <h2 class="section-title centered-title">MÁS VENDIDOS</h2>
    <div class="mas-vendidos-slider-container slider-container">

      <swiper-container class="mas-vendidos-swiper" slides-per-view="auto" space-between="10">
        <swiper-slide *ngFor="let product of products.slice(0, 10)"> <app-product-card
            [image]="product.image_url"
            [brand]="product.marca_nombre"
            [title]="product.nombre"
            [price]="product.precio_mas_bajo" [isLiked]="product.isLiked"
            [productId]="product.id_producto"
            (wishlistToggle)="toggleWishlist(product)">
          </app-product-card>
        </swiper-slide>
      </swiper-container>
      <ion-button fill="clear" class="slider-nav prev-button mas-vendidos-prev">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="slider-nav next-button mas-vendidos-next">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>


  <div class="footer-simple">
    <ion-toolbar class="custom-footer-toolbar">
      <ion-grid>
        <ion-row class="ion-align-items-start">

          <ion-col size="12" size-md="4" class="footer-col">
            <div class="logo footer-logo">
              <span class="logo-look">Look</span><span class="logo-4">4</span><span class="logo-beauty">Beauty</span>
            </div>
            <p class="footer-description">
              Somos una compañía chilena creada con el propósito de encontrar y recopilar, por ti, los mejores precios en productos cosméticos de las tiendas en Chile.
            </p>
            <div class="social-icons">
              <ion-button class="icon" fill="clear" href="#" target="_blank" aria-label="Twitter">
                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
              </ion-button>
              <ion-button fill="clear" href="#" target="_blank" aria-label="Facebook">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button fill="clear" href="#" target="_blank" aria-label="TikTok">
                <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
              </ion-button>
              <ion-button fill="clear" href="#" target="_blank" aria-label="Instagram">
                <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="12" size-md="4" class="footer-col">
            <h5 class="footer-title">Servicios</h5>
            <p class="footer-link"><a href="#">Bonus program</a></p>
            <p class="footer-link"><a href="#">Gift cards</a></p>
            <p class="footer-link"><a href="#">Credit and payment</a></p>
            <p class="footer-link"><a href="#">Service contracts</a></p>
            <p class="footer-link"><a href="#">Non-cash account</a></p>
            <p class="footer-link"><a href="#">Payment</a></p>
          </ion-col>

          <ion-col size="12" size-md="4" class="footer-col">
            <h5 class="footer-title">Soporte</h5>
            <p class="footer-link"><a href="#">Find an order</a></p>
            <p class="footer-link"><a href="#">Terms of delivery</a></p>
            <p class="footer-link"><a href="#">Exchange and return/reimbursement of goods</a></p>
            <p class="footer-link"><a href="#">Contacto con el soporte</a></p>
            <p class="footer-link"><a href="#">Preguntas frecuentes</a></p>
            <p class="footer-link"><a href="#">Términos de uso del sitio</a></p>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </div>

</ion-content>