<app-header></app-header>

<ion-content>
  <div class="producto-grid">
    
    <!-- Columna: Imagen del producto -->
    <div class="producto-imagen">
        <div class="imagen-wrapper">
          <img [src]="producto.url_imagen" [alt]="producto.nombre"/>
          <ion-button fill="clear" class="wishlist-button">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
  
    <!-- Columna: Información del producto -->
    <div class="producto-info">
        <h1>{{ producto.marca_nombre }} <br> <strong>{{ producto.nombre }}</strong></h1>
        <div class="descripcion">
          <h2>Detalles del producto</h2>
          <p class="description-text">{{ producto.descripcion }}</p>
          <ion-button expand="block" color="#a1818a">Modo de uso</ion-button>
        </div>
    </div>

    <!-- Columna: Tiendas disponibles -->
    <div class="producto-tiendas">
      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>

      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>

      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>

      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>

      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>

      <app-store-card
        storeName="Maicao"
        [price]="6990"
        availability="Solo retiro en tienda"
        [rating]="4">
      </app-store-card>
      
    </div>



  </div>

  <ng-template #loading>
    <div style="text-align: center; margin-top: 100px;">
      <ion-spinner name="crescent" style="width: 50px; height: 50px;"></ion-spinner>
      <p style="margin-top: 10px;">Cargando detalles del producto...</p>
    </div>
  </ng-template>

</ion-content>
