<app-header></app-header>

<ion-content>

  <div *ngIf="cargando" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="error" class="ion-text-center ion-padding" style="color: red;">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="producto" class="producto-grid">

    <div class="producto-imagen">
      <div class="imagen-wrapper">
        <img [src]="getFullImageUrl(producto.image_url)" [alt]="producto.nombre"/>
      </div>
    </div>

    <div class="producto-info">
      <p class="title"><strong>{{ producto.nombre }}</strong> </p>
      <p class="title">{{ producto.marca_nombre }}</p>
      <div class="descripcion">
        <h2>Detalles del producto</h2>
        <p class="description-text">{{ producto.descripcion }}</p>
      </div>
    </div>

    <div class="producto-tiendas">
      <app-store-card
        *ngFor="let oferta of producto.ofertas"
        
        [storeName]="oferta.tienda_nombre"
        [price]="oferta.precio"
        [availability]="oferta.stock > 0 ? 'Disponible' : 'Sin stock'"
        [rating]="4"
        [productUrl]="oferta.url_producto">
       </app-store-card>
        
    </div>
  </div>

  <app-footer *ngIf="producto"></app-footer>
</ion-content>