<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input formControlName="currentPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input formControlName="newPassword" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid" class="ion-margin-top">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>